In [1]:
# imports
import pandas as pd
import sys
import os

In [10]:
# setting up several paths 
sys.path.append(".")
sys.path.append("..")
sys.path.insert(1, '../scripts')
from dataCleaner import *

In [5]:
# import the data frame
df = pd.read_csv('../data/Week1_challenge_data_source.csv')

In [6]:
# display the head of the data frame
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,4/9/2019 13:04,235.0,4/25/2019 08:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,4/10/2019 00:31,486.0,4/25/2019 07:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [7]:
# compress and save the original data set
df.to_csv('../data/Week1_challenge_data_source.csv.bz2')

In [8]:
df = pd.read_csv('../data/Week1_challenge_data_source.csv.bz2')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 56 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Unnamed: 0                                150001 non-null  int64
 1   Bearer Id                                 149010 non-null  float64
 2   Start                                     150000 non-null  object
 3   Start ms                                  150000 non-null  float64
 4   End                                       150000 non-null  object
 5   End ms                                    150000 non-null  float64
 6   Dur. (ms)                                 150000 non-null  float64
 7   IMSI                                      149431 non-null  float64
 8   MSISDN/Number                             148935 non-null  float64
 9   IMEI                                      149429 non-null  float64
 10  Last Location Name                        148848 non-null  object
 11  Avg RTT DL (ms)                           122172 non-null  float64
 12  Avg RTT UL (ms)                           122189 non-null  float64
 13  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 14  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 15  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 16  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 17  DL TP < 50 Kbps (%)                       149247 non-null  float64
 18  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 19  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 20  DL TP > 1 Mbps (%)                        149247 non-null  float64
 21  UL TP < 10 Kbps (%)                       149209 non-null  float64
 22  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 23  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 24  UL TP > 300 Kbps (%)                      149209 non-null  float64
 25  HTTP DL (Bytes)                           68527 non-null   float64
 26  HTTP UL (Bytes)                           68191 non-null   float64
 27  Activity Duration DL (ms)                 150000 non-null  float64
 28  Activity Duration UL (ms)                 150000 non-null  float64
 29  Dur. (ms).1                               150000 non-null  float64
 30  Handset Manufacturer                      149429 non-null  object
 31  Handset Type                              149429 non-null  object
 32  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 33  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 34  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 35  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 36  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 37  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 38  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 39  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 40  Social Media DL (Bytes)                   150001 non-null  float64
 41  Social Media UL (Bytes)                   150001 non-null  float64
 42  Google DL (Bytes)                         150001 non-null  float64
 43  Google UL (Bytes)                         150001 non-null  float64
 44  Email DL (Bytes)                          150001 non-null  float64
 45  Email UL (Bytes)                          150001 non-null  float64
 46  Youtube DL (Bytes)                        150001 non-null  float64
 47  Youtube UL (Bytes)                        150001 non-null  float64
 48  Netflix DL (Bytes)                        150001 non-null  float64
 49  Netflix UL (Bytes)                        150001 non-null  float64
 50  Gaming DL (Bytes)                         150001 non-null  float64
 51  Gaming UL (Bytes)                         150001 non-null  float64
 52  Other DL (Bytes)                          150001 non-null  float64
 53  Other UL (Bytes)                          150001 non-null  float64
 54  Total UL (Bytes)                          150000 non-null  float64
 55  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), int64(1), object(5)
memory usage: 64.1+ MB

unwanted column has been created due to the new compression

In [11]:
# create a data cleaner script instance
cleaner = dataCleaner(df)

Data cleaner in action.

In [12]:
# remove the unwanted column
unwanted_cols = ['Unnamed: 0']
df = cleaner.remove_unwanted_cols(unwanted_cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

unwanted column removed