In [1]:
# imports
import pandas as pd
import numpy as np
import sys
import os

In [2]:
# add paths and import scripts
sys.path.append('.')
sys.path.append('..')
sys.path.insert(1,'../scripts')
from dataCleaner import *
from dataVisualizer import *

In [3]:
# read the dataset
df = pd.read_csv('../data/Week1_challenge_data_source_filled.csv.bz2')
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,total_youtube,total_netflix,total_social,total_other,fixed_dur,fixed_activity_dur_dl,fixed_activity_dur_ul,fixed_total_ul,total_data,decile
0,1.311450e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,86399.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,18355943.0,17855187.0,1570185.0,180558843.0,86399.0,37624.0,38787.0,36749741.0,345629377.0,"(72290.0, 86399.0]"
1,1.311450e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,86399.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,39359124.0,35565545.0,1933278.0,541959383.0,86399.0,168.0,3560.0,53800391.0,707185356.0,"(72290.0, 86399.0]"
2,1.311450e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,86399.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,34425237.0,23751202.0,1726277.0,414908351.0,86399.0,0.0,0.0,27883638.0,307690973.0,"(72290.0, 86399.0]"
3,1.311450e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,86399.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,36534765.0,15092588.0,657493.0,761837216.0,86399.0,3330.0,37882.0,43324218.0,889352748.0,"(72290.0, 86399.0]"
4,1.311450e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,86399.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,34222253.0,17539799.0,912788.0,564619822.0,86399.0,0.0,0.0,38542814.0,607681403.0,"(72290.0, 86399.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,1.304240e+19,2019-04-29 07:28:00,615.0,2019-04-30 00:01:00,407.0,59587.0,2.082010e+14,3.366865e+10,3.533250e+13,T85721A,...,24553645.0,29618711.0,993175.0,336273648.0,59587.0,3380381.0,2355730.0,53745392.0,872761860.0,"(45959.8, 72290.0]"
149996,7.277830e+18,2019-04-29 07:28:00,451.0,2019-04-30 06:02:00,214.0,81230.0,2.082020e+14,3.365069e+10,3.548310e+13,D20434A,...,27955095.0,37561864.0,3517065.0,16751926.0,81230.0,42376.0,41915.0,57628851.0,631804110.0,"(72290.0, 86399.0]"
149997,7.349880e+18,2019-04-29 07:28:00,483.0,2019-04-30 10:41:00,187.0,97970.0,2.082020e+14,3.366345e+10,3.566050e+13,D10223C,...,22165518.0,40643294.0,2352181.0,714638145.0,97970.0,17264.0,16759.0,39135081.0,705783925.0,"(86400.0, 101468.0]"
149998,1.311450e+19,2019-04-29 07:28:00,283.0,2019-04-30 10:46:00,810.0,98249.0,2.082020e+14,3.362189e+10,3.572120e+13,T51102A,...,24516413.0,15029702.0,1260239.0,132415585.0,98249.0,25003.0,28640.0,34912224.0,627698629.0,"(86400.0, 101468.0]"
149999,1.311450e+19,2019-04-29 07:28:00,696.0,2019-04-30 10:40:00,327.0,97910.0,2.082020e+14,3.361962e+10,8.618620e+13,L88342B,...,17122508.0,16494842.0,823109.0,816120043.0,97910.0,13405.0,34088.0,29626096.0,401522016.0,"(86400.0, 101468.0]"

In [4]:
cleaner = dataCleaner(df)
visualizer = dataVisualizer()

Data cleaner in action.
Data visualizer in action.

# User experience analysis

### Aggregate, per customer, the following information

In [12]:
# defining the user experience data frame
user_experience_df = df[['MSISDN/Number', 'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Handset Type', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)']]
user_experience_df

,MSISDN/Number,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Handset Type,Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps)
0,3.366496e+10,568730.0,20949.5,42.0,5.0,Samsung Galaxy A5 Sm-A520F,23.0,44.0
1,3.368185e+10,568730.0,20949.5,65.0,5.0,Samsung Galaxy J5 (Sm-J530),16.0,26.0
2,3.376063e+10,568730.0,20949.5,45.0,5.0,Samsung Galaxy A8 (2018),6.0,9.0
3,3.375034e+10,568730.0,20949.5,45.0,5.0,Huawei B528S-23A,44.0,44.0
4,3.369980e+10,568730.0,20949.5,45.0,5.0,Samsung Sm-G390F,6.0,9.0
...,...,...,...,...,...,...,...,...
149995,3.366865e+10,16552848.0,162614.0,313.0,9.0,Huawei B528S-23A,63420.0,1393.0
149996,3.365069e+10,568730.0,20949.5,32.0,0.0,Apple iPhone 8 Plus (A1897),52.0,65.0
149997,3.366345e+10,568730.0,20949.5,27.0,2.0,Apple iPhone Se (A1723),23.0,54.0
149998,3.362189e+10,568730.0,20949.5,43.0,6.0,Apple iPhone Xs (A2097),43.0,47.0
149999,3.361962e+10,568730.0,20949.5,37.0,5.0,Huawei Fig-Lx1,34.0,37.0

* Average TCP retransmission

In [24]:
print(f"Average TCP download retransmission per user\n {user_experience_df.groupby('MSISDN/Number').agg('TCP DL Retrans. Vol (Bytes)').mean()}")
print(f"\nAverage TCP upload retransmission per user\n {user_experience_df.groupby('MSISDN/Number').agg('TCP UL Retrans. Vol (Bytes)').mean()}")

Average TCP download retransmission per user
 MSISDN/Number
3.360100e+10     568730.0
3.360100e+10     568730.0
3.360100e+10     568730.0
3.360101e+10       1066.0
3.360101e+10    4959180.0
                  ...
3.379000e+10     215044.0
3.379000e+10     568730.0
3.197020e+12     568730.0
3.370000e+14     568730.0
8.823970e+14     568730.0
Name: TCP DL Retrans. Vol (Bytes), Length: 106856, dtype: float64

Average TCP upload retransmission per user
 MSISDN/Number
3.360100e+10    20949.50
3.360100e+10    20949.50
3.360100e+10    20949.50
3.360101e+10    20949.50
3.360101e+10    21075.75
                  ...
3.379000e+10     3001.00
3.379000e+10    20949.50
3.197020e+12    20949.50
3.370000e+14    20949.50
8.823970e+14    20949.50
Name: TCP UL Retrans. Vol (Bytes), Length: 106856, dtype: float64

* Average RTT

In [27]:
print(f"Average download round trip time (RTT) per user\n {user_experience_df.groupby('MSISDN/Number').agg('Avg RTT DL (ms)').mean()}")
print(f"\nAverage upload round trip time (RTT) per user\n {user_experience_df.groupby('MSISDN/Number').agg('Avg RTT UL (ms)').mean()}")

Average download round trip time (RTT) per user
 MSISDN/Number
3.360100e+10    46.0
3.360100e+10    30.0
3.360100e+10    45.0
3.360101e+10    69.0
3.360101e+10    57.0
                ...
3.379000e+10    42.0
3.379000e+10    34.0
3.197020e+12    45.0
3.370000e+14    45.0
8.823970e+14    45.0
Name: Avg RTT DL (ms), Length: 106856, dtype: float64

Average upload round trip time (RTT) per user
 MSISDN/Number
3.360100e+10     0.0
3.360100e+10     1.0
3.360100e+10     5.0
3.360101e+10    15.0
3.360101e+10     2.5
                ...
3.379000e+10    10.0
3.379000e+10     6.0
3.197020e+12     5.0
3.370000e+14     5.0
8.823970e+14     5.0
Name: Avg RTT UL (ms), Length: 106856, dtype: float64

* Handset type

In [34]:
print(f"\Most used handset types per user\n {user_experience_df.groupby('MSISDN/Number').agg({'Handset Type':[lambda x:x.mode()[0]]})}")

Average handset types per user
                                    Handset Type
                                       <lambda>
MSISDN/Number
3.360100e+10     Huawei P20 Lite Huawei Nova 3E
3.360100e+10             Apple iPhone 7 (A1778)
3.360100e+10                   Huawei B528S-23A
3.360101e+10            Apple iPhone 5S (A1457)
3.360101e+10            Apple iPhone Se (A1723)
...                                         ...
3.379000e+10                Huawei Honor 9 Lite
3.379000e+10        Apple iPhone 8 Plus (A1897)
3.197020e+12   Quectel Wireless. Quectel Ec25-E
3.370000e+14                   Huawei B525S-23A
8.823970e+14   Quectel Wireless. Quectel Ec21-E

[106856 rows x 1 columns]

* Average throughput

In [29]:
user_experience_df.columns

Index(['MSISDN/Number', 'TCP DL Retrans. Vol (Bytes)',
       'TCP UL Retrans. Vol (Bytes)', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)',
       'Handset Type', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)'],
      dtype='object')

In [30]:
print(f"Average download throughput per user\n {user_experience_df.groupby('MSISDN/Number').agg('Avg Bearer TP DL (kbps)').mean()}")
print(f"\nAverage upload throughput per user\n {user_experience_df.groupby('MSISDN/Number').agg('Avg Bearer TP UL (kbps)').mean()}")

Average download throughput per user
 MSISDN/Number
3.360100e+10       37.0
3.360100e+10       48.0
3.360100e+10       48.0
3.360101e+10      204.0
3.360101e+10    20197.5
                 ...
3.379000e+10     9978.0
3.379000e+10       68.0
3.197020e+12        1.0
3.370000e+14       11.0
8.823970e+14        2.0
Name: Avg Bearer TP DL (kbps), Length: 106856, dtype: float64

Average upload throughput per user
 MSISDN/Number
3.360100e+10      39.0
3.360100e+10      51.0
3.360100e+10      49.0
3.360101e+10      44.0
3.360101e+10    8224.5
                 ...
3.379000e+10     387.0
3.379000e+10      48.0
3.197020e+12       0.0
3.370000e+14      22.0
8.823970e+14       0.0
Name: Avg Bearer TP UL (kbps), Length: 106856, dtype: float64

### Compute & list 10 of the top, bottom and most frequent

* TCP values in the dataset

* RTT values in the dataset

* Throughput values in the dataset

### Compute & report

* Distribution of the average throughput  per handset type

* average TCP retransmission view per handset type

###  Using the experience metrics above, perform a k-means clustering (where k = 3) to segment users into groups of experiences and provide a brief description of each cluster. (The description must define each group based on your understanding of the data)